{% extends 'base.html.twig' %}

{% block body %}
    <h1>Update / Import</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Last imported event</th>
            <th scope="col">Last finished online event</th>
            <th scope="col">Update available ?</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ lastImported }}</td>
            <td>{{ lastOnline }}</td>
            <td>
                {% if (importAvailable == true) %}
                    <a class="btn btn-primary" href="/import" role="button">Import data</a>
                {% else %}
                    <a class="btn btn-primary disabled" href="/import" role="button" disabled>Import data</a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}{% endblock %}
